# Lua
luac.out
*.o
*.os
*.ko
*.obj
*.elf
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.def
*.exp
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app

# Python
__pycache__/
*.pyc

# Luarocks
*.src.rock
*.zip
*.tar.gz

# Test temp dirs
tools/rfw_test_*

# lupa binaries (platform-specific)
tools/lupa/**/*.pyd
tools/lupa/**/*.dist-info/
config.json
